<h1><%= @idea.title %></h1>
<p><%= @idea.description%></p>
<p>
<small>Posted:<%= time_ago_in_words(@idea.created_at) %> ago by <%=@idea.user.full_name%></small>
</p>



 <% if can? :crud, @idea %>
<div class="btn-group">
    <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-outline-primary btn-md " %>
    <%= button_to "Delete", idea_path(@idea), method: :delete, class: 'btn btn-outline-primary btn-md',form: { data: { turbo_confirm: "Are you sure?" } }  %>
 </div>
 <% end %>



<% if can?(:like,@idea)%>
<p>
  <small>
    <% if @like.present? %>
     <%= button_to "Unlike", like_path(@like), method: :delete, class: 'btn btn-outline-primary btn-md',form: { data: { turbo_confirm: "Are you sure?" } }  %>
      <%# link_to "Unlike", like_path(@like), method: :delete %>
    <% else %>
      <%# link_to "Like", idea_likes_path(@idea), method: :post %> 
      <%= button_to "Like", idea_likes_path(@idea), method: :post, class: 'btn btn-outline-primary btn-md' %>
    <% end %>
  </small>
  </p>
 <% end %>

<%= form_with(model: [@idea, @review], local:true) do |f| %>
<div>
    <%= f.label :body, class: "form-label"%>
    <%= f.text_area :body, class: "form-control"%>
</div>
<%= f.submit "Sumit", class:  "btn btn-outline-primary btn-md "%>
<% end %>

<% @reviews.each do |review| %>
<%= review.body %>
      <div class="box-container">
        <div class="boxes">reviewed <%= time_ago_in_words(review.created_at) %> ago by: <label><%= review.user.full_name %></label></div>
         <% if can? :crud, review %>
        <div class="boxes" style="position: relative; top: -3px;"><%= button_to "Delete", idea_review_path(@idea, review), method: :delete, class: "btn btn-link btn-sm link",form: { data: { turbo_confirm: "Are you sure?" } } %> </div>
         <% end %>
      </div>
<% end %>