<h1>Edit User</h1>

<% if @user.errors.any? %>
<p>
<%= @user.errors.full_messages.join(", ")%>
</p>
<% end %>


<%= form_with model: @user, url: user_path(current_user), method: :patch, local: true do |f| %>
<div>
 <%= f.label :current_password%>
 <%= f.text_field :current_password %>
</div>
<div>
 <%= f.label :new_password %>
 <%= f.text_field :new_password %>
</div>

<div>
 <%= f.label :new_password_confirmation %>
 <%= f.text_field :new_password_confirmation %>
</div>
  <%= f.submit "Chnage Password",  class: "btn btn-outline-primary btn-md "%>

<% end %>