 <header>

<header class="navbar-custom" >
    <nav class="navbar navbar-expand-lg  bg-light" style="width:100%">
        <a class="navbar-brand" style="margin-left: 10px; href="<%= root_path %>">Blog On Rails</a>
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item navbar-custom">
                    <a class="nav-link"  href="<%= posts_path %>">Post Index  </a>
                </li>
           
                <li class="nav-item navbar-custom">
                     <a class="nav-link" href="<%= new_post_path %>"> New Post</a>
                </li>
                <% if user_sign_in? %>    

                <li class="nav-item navbar-custom">
                      <%= link_to current_user.name, edit_user_path(current_user), class: "btn btn-outline-primary btn-md " %>
                </li>
                <li class="nav-item navbar-custom">
                    <%= button_to "Log out", session_path, method: :delete, class: "btn btn-danger" %>
               
                </li>
                <% else %>
           
                <li class="nav-item navbar-custom">
                     <a class="nav-link" href="<%= new_session_path %>"> Sign In</a>
                </li>

                <li class="nav-item navbar-custom">
                     <a class="nav-link" href="<%= new_user_path %>"> Sign Up</a>
                </li>
                <% end %>
            </ul>
    </nav>
</header>
