<%- include('../partials/header') %>
<%console.log(cohorts)%> 
<% if(cohorts) {%>

    <% for (let i = 0 ; i < cohorts.length ; i++) {%>

        <div class="card " style="width: 40rem;">
            <div class="card-body">
              <h5 class="card-title" >
                <img style="border-radius: 50%; width:50px; height:50px;" class="logo-img" name="logo-img" src="<%- cohorts[i].logoUrl%>" alt="Avatar">
                <%- cohorts[i].name %>
            </h5>
              <p class="card-text" name="members"><%= cohorts[i].members %></p>
              <div class="d-grid gap-2 d-md-flex ustify-content-between">
                <a class="btn btn-primary" href="/cohorts/<%= cohorts[i].id %>">Show Cohort</a>   
             </div>
            </div>
        </div>
       
    <% } %>
<% } %>   

