<%- include("../partials/header") %>

<% if(cohort) {%>
<% const id = cohort[0].id , members = cohort[0].members , name = cohort[0].name%>

<div class="card">
  <div class="card-body">
    <h5 class="card-title card-team-name"><%- name %></h5>
    <p class="card-text">
      <%- members %>
    </p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Methods</h5>
    <div class="card-text">
      <form action="/cohorts/<%- id %>" style="width: 100%;" method:"GET" id="myForm">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="team-count" id="team-count" name="team-count">
          <label class="form-check-label" for="team-count">
            Team Count
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="number-per-team" id="number-per-team" name="number-per-team">
          <label for="number-per-team">Number Per Team</label>
        </div>

        <p class="card-text">
        <div class="form-group">
          <label for="team-split-quantity">Quantity</label>
          <input type="text" class="form-control name-methods" id="team-split-quantity" name="team-split-quantity" placeholder="Another input">
        </div>
        <br>


        <div class="col-sm-12 text-center">
          <input type="hidden" class="form-control" id="id" name="id" value="<%- id  %>">
          <input type="hidden" class="form-control" id="name" name="name" value="<%- name  %>">
          <input type="hidden" class="form-control" id="members" name="members" value="<%- members %>">
          <button type="submit" id="btnSearch" class="btn btn-primary btn-md center-block" Style="width: 100%;">Assign</button>
        </div>
      </form>
      <br>
      <div class="row align-items-center" Style="margin-left: 2px;">
        <a href="/cohorts/<%= id %>/edit" id="btn" class="btn btn-outline-success btn-md center-block col" Style="width: 50%;" value="update" >Edit</a>
        <div class="col" Style="width: 50%;">
          <form method="POST" action="/cohorts/<%= id %>/delete">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" id="btn" class="btn btn-outline-danger btn-md center-block "  Style="width: 100%;" value="delete">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>


    <%- include("./number-per-team", {cohort:cohort}) %>
    <%- include("./team-count", {cohort:cohort}) %>
  
</div>
</div>
</div>

<script>

  var checkboxs = document.querySelectorAll("input[class='form-check-input']");
  var id = <%= id %>
  for (let i = 0; i < checkboxs.length; i++) {
    checkboxs[i].onclick = function() {
      checkboxs[i] = true
    
      checkboxs.forEach((element, index) => {
        if (i != index) element.checked = false
      })
    };
  }


</script>
<% } %>